<div class="row">
<div class="x_panel tile">
  <div class="x_title">
    <h2>Learners' Network</h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li><a onclick="fullscreen(this)" ng-click="resize()"><i class="glyphicon glyphicon-resize-full" aria-hidden="true"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content" uib-collapse="isCollapsed">
    <div class="row">
      <div class="col-sm-6">
        <label>View Network of top
          <input type="number" ng-model="top" min="1" max="500">
          most connected learners.
          <input type="submit" class="btn btn-primary" value="Redraw" ng-click="draw()">
        </label>
      </div>
      <div class="col-sm-6">
        <div id="datatable-fixed-header_filter" class="dataTables_filter">
          Learners: {{metrics.nodes}}  
          <br>
          Links:{{metrics.links}}  
          <br>
          Density: {{metrics.density}}
        </div>
      </div>
    </div>
    <div class="row">
      <div id="comment_network" style="height:600px;width:100%"/>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="x_panel tile">
      <div class="x_title">
        <h2>Density</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a onclick="fullscreen(this)" ng-click="resize()"><i class="glyphicon glyphicon-resize-full" aria-    hidden="true"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" uib-collapse="isCollapsed">
        <div class="row">
          <div id="density" style="height:400px;width:100%">
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="x_panel tile">
      <div class="x_title">
        <h2>Distribution</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a onclick="fullscreen(this)" ng-click="resize()"><i class="glyphicon glyphicon-resize-full" aria-    hidden="true"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" uib-collapse="isCollapsed">
        <div class="row">
          <div id="distribution" style="height:400px;width:100%">
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
